@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

html {
  font-family: 'Nunito', sans-serif;
  border: 5px solid aliceblue;
  overflow: hidden;
  
}

body {
  color: aliceblue;
}

.Background {
  min-height: 97vh;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container h1 {
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.382);
  font-weight: 800;
  width: 300px;
  text-align: center;
}

button {
  cursor: pointer;
  padding: .7rem 3rem;
  color: rgb(117,126,130);
  border-radius: 15px;
  font-weight: 600;
  font-size: medium;
  border: 3px solid white;
  background-color: rgba(240, 248, 255, 0.445);
  transition: transform .25s;
}

button:hover {
  transform: scale(1.1);
  transition: transform .25s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.phrase {
  background-image: url('../public/rectangle1.svg'); 
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 

  height: 230px; 
  width: 520px; 
  color: rgb(24, 24, 24);
  overflow: visible;

  display: flex;
  justify-items: center;
  align-items: center;
  line-height: 2.5;
  
}

.text {
  color: rgb(111,111,111);
  font-size: large;
  padding: 1rem;
  line-height: 1;
  text-align: center;
}

